.my-style-1 {
    font-size: 20px;
    font-weight: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(187, 134, 236);
}

.navbar-brand img{
    width: 80px;
    
    }
    